/* common settings */
html {
  background-color: #f2f2f2;
}

body {
  width: 80%;
  margin: 0 auto;
  background-color: #d9fffb;
  border: 1px solid #dedede;
}

@media (max-width: 767px) {
  body {
    width: 100%;
    border: none;
  }
}

h1 {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539F;
}

/* common settings */
.mobile-menu-icon {
  background-color: transparent;
  border: none;
  outline: none !important;
  cursor: pointer;
}

.mobile-menu-icon > span {
  background-color: black;
  width: 35px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.mobile-menu-icon > span:last-child {
  margin-bottom: 0;
}

.menu-open {
  background-color: black;
}

.menu-open .mobile-menu-icon > span {
  background-color: white;
}

.menu-open .mobile-menu-icon > span:nth-child(1) {
  -webkit-transform: translateY(11px) rotate(135deg);
          transform: translateY(11px) rotate(135deg);
}

.menu-open .mobile-menu-icon > span:nth-child(2) {
  -webkit-transform: translateX(-18px) scaleX(0);
          transform: translateX(-18px) scaleX(0);
}

.menu-open .mobile-menu-icon > span:nth-child(3) {
  -webkit-transform: translateY(-11px) rotate(-135deg);
          transform: translateY(-11px) rotate(-135deg);
}

/* humberger menu */
.container {
  position: relative;
  height: 50vh;
}

.animate-title {
  font-family: 'Teko', sans-serif;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  opacity: 0;
}

.animate-title.inview {
  opacity: 1;
}

.animate-title.inview .char {
  display: inline-block;
  -webkit-animation-name: kf-animate-chars;
          animation-name: kf-animate-chars;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
          animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animate-title.inview .char:nth-child(1) {
  -webkit-animation-delay: 0.04s;
          animation-delay: 0.04s;
}

.animate-title.inview .char:nth-child(2) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
}

.animate-title.inview .char:nth-child(3) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.animate-title.inview .char:nth-child(4) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
}

.animate-title.inview .char:nth-child(5) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.animate-title.inview .char:nth-child(6) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.animate-title.inview .char:nth-child(7) {
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
}

.animate-title.inview .char:nth-child(8) {
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}

.animate-title.inview .char:nth-child(9) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

@-webkit-keyframes kf-animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.header {
  margin: 0 auto;
}

#menubtn img {
  width: 100%;
  max-width: 50px;
  float: right;
}

.nav-hidden {
  display: none;
}

.nav {
  background-color: beige;
  display: none;
  padding: 20px 3%;
}

.header li {
  list-style: none;
}

#nav-input:checked ~ nav {
  display: block;
  -webkit-animation: 1s fadeIn;
          animation: 1s fadeIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* humberger menu */
.header__logo {
  float: left;
  font-size: 25px;
  font-weight: bold;
  padding: 20px 40px;
}

.header__list li {
  float: left;
  padding: 20px 40px;
}

.top__title {
  width: 80%;
  border: 3px solid #a8a8f2;
  margin: 0 auto;
}

.top__about {
  width: 50%;
  background-color: #ffdfdf;
}

.top__technical {
  width: 50%;
  background-color: #f9fad8;
}

.footer {
  background-color: #fcffdc;
  height: 100px;
}

.footer__logo {
  float: left;
  font-size: 25px;
  font-weight: bold;
  padding: 30px;
}

.footer__list {
  float: right;
  padding-right: 40px;
}

.footer__list li {
  list-style: none;
}
/*# sourceMappingURL=index.css.map */