/* common settings */
html {
  background-color: rgb(242, 242, 242);
}

body {
  width: 80%;
  margin: 0 auto;
  background-color: rgb(217, 255, 251);
  border: 1px solid rgb(222, 222, 222);
}

@media screen and (max-width: 767px) {
  .body {
    width: 100%;
  }
}

h1 {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539F;
}
/* common settings */

.header {
  background-color: rgb(228, 255, 232);
  height: 90px;
}

.header__logo {
  float: left;
  font-size: 25px;
  font-weight: bold;
  padding: 20px 40px;
}

.header__list li {
  float: left;
  padding: 20px 40px;
}

.top__title {
  width: 80%;
  border: 3px solid rgb(168, 168, 242);
}

.top__about {
  width: 50%;
  background-color: rgb(255, 223, 223);
}

.top__technical {
  width: 50%;
  background-color: rgb(249, 250, 216);
}

li {
  /* float: left; */
  list-style: none;
}

.footer {
  background-color: rgb(252, 255, 220);
  height: 100px;
}

.footer__logo {
  float: left;
  font-size: 25px;
  font-weight: bold;
  padding: 30px;
}

.footer__list {
  float: right;
  padding-right: 20px;
}