$cBlack: black;
$cWhite: white;

/* common settings */
html {
  background-color: rgb(242, 242, 242);
}

body {
  width: 80%;
  margin: 0 auto;
  background-color: rgb(217, 255, 251);
  border: 1px solid rgb(222, 222, 222);
  @media (max-width: 767px) {
    width: 100%;
    border: none;
  }
}

h1 {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539F;
}
/* common settings */

// humberger-menu
.mobile-menu-icon {
  background-color: transparent;
  border: none;
  outline: none !important;
  cursor: pointer;
  & > span {
    background-color: $cBlack;
    width: 35px;
    height: 2px;
    display: block;
    margin-bottom: 9px;
    transition: transform 0.7s;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.menu-open {
  background-color: $cBlack;
  & .mobile-menu-icon {
    & > span {
      background-color: $cWhite;
      &:nth-child(1) {
        transform: translateY(11px) rotate(135deg);
      }
      &:nth-child(2) {
        transform: translateX(-18px) scaleX(0) ;
      }
      &:nth-child(3) {
        transform: translateY(-11px) rotate(-135deg);
      }
    }
  }
}
/* humberger menu */
// animation text
@import 'mixin';
.container {
  position: relative;
  height: 50vh;
}

.animate-title {
  font-family: 'Teko', sans-serif;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  opacity: 0;

  &.inview {
    opacity: 1;
    & .char {
      display: inline-block;
      @include animation($name: kf-animate-chars,
        $duration: 0.5s,
        $timing-function: cubic-bezier(0.39, 1.57, 0.58, 1),
        $fill-mode: both
        );

        @for $i from 1 through 9 {
          &:nth-child(#{$i}) {
            animation-delay: $i * 0.04s;
          }
        }
    }
  }
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
// animation text

.header {
  margin: 0 auto;
}

#menubtn img {
  width: 100%;
  max-width: 50px;
  float: right;
}

.nav-hidden {
  display: none;
}

.nav {
  background-color: beige;
  display: none;
  padding: 20px 3%;
}

.header li {
  list-style: none;
}

#nav-input:checked ~ nav {
  display: block;
  animation: 1s fadeIn;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
/* humberger menu */



.header__logo {
  float: left;
  font-size: 25px;
  font-weight: bold;
  padding: 20px 40px;
}

.header__list li {
  float: left;
  padding: 20px 40px;
}

.top__title {
  width: 80%;
  border: 3px solid rgb(168, 168, 242);
  margin: 0 auto;
}

.top__about {
  width: 50%;
  background-color: rgb(255, 223, 223);
}

.top__technical {
  width: 50%;
  background-color: rgb(249, 250, 216);
}

.footer {
  background-color: rgb(252, 255, 220);
  height: 100px;
}

.footer__logo {
  float: left;
  font-size: 25px;
  font-weight: bold;
  padding: 30px;
}

.footer__list {
  float: right;
  padding-right: 40px;
}

.footer__list li {
  list-style: none;
}