html {
  background-color: rgb(242, 242, 242);
}

body {
  width: 80%;
  margin: 0 auto;
  background-color: rgb(217, 255, 251);
  border: 5px solid black;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539F;
}

.top__title {
  width: 80%;
  border: 3px solid rgb(168, 168, 242);
}

.top__about {
  width: 50%;
  background-color: rgb(255, 223, 223);
}

.top__technical {
  width: 50%;
  background-color: rgb(249, 250, 216);
}